extends ../layout

block main
    .ui.large.menu#jsMenu
        a.item(href='/admin') Главная
        a.item(href='/admin/upload') Загрузить изображение
        .right.menu
            - if (addSlide)
                .item
                    span.ui.positive.button#addSlide() Добавить слайд
            - if (createBtn)
                .item
                    a.ui.positive.button(href='/admin/create') Создать
            .item
                a.ui.primary.button(href='/') Просмотр
    .ui.container
        h2= title
        block content-admin
block script
    script(src='/javascripts/admin.js')