extends admin

block content-admin
    .presentations
        each p in data
            .ui.card
                a.image()
                    img(src='/' + p.slides[0].imgUrl)
                .content
                    a.header()= p.name