extends admin

block content-admin
    .main
        each p in data
            .ui.card
                a.image(href='/admin/present/' + p.id)
                    img(src=p.slides[0].imgUrl)
                .content
                    a.header(href='/admin/present/' + p.id)= p.name