extends admin

block content-admin
    .presentations
        each p in data
            .ui.card
                a.image(href='/admin/present/' + p.name)
                    img(src='/' + p.slides[0].imgUrl)
                .content
                    a.header(href='/admin/present/' + p.name)= p.name