extends admin

block content-admin
    .main
        each p in data
            .ui.card
                a.image(href='/admin/present/' + p._id)
                    img(src=p.slides[0].imgUrl)
                .content
                    a.header(href='/admin/present/' + p._id)= p.name
                - if (typeof (p.active) !== typeof (undefined))
                    .ui.two.buttons
                        .ui.basic.green.button#jsPresentSelect(data-present=p._id) Выбрать
                        .ui.basic.red.button#jsPresentDelete(data-present=p._id) Удалить
                - else
                    .extra.content
                        span Активная
