extends admin

block content-admin
    form(method='POST' id='formUpload' action='api/upload' enctype="multipart/form-data")
        .ui.small.basic.icon.buttons
            input(type='file' name='upImages' id='upImages').ui.button
            input(type='submit' value='Отправить').positive.ui.button
    ul.ui.items#jsImages