extends layout

block main
  .reveal
    .slides
      each slide in data.slides
        p= slide.order
        section(data-background=slide.imgUrl)
      // each p in data
        - if (p.active)
          each slide in p.slides
            section(data-background=slide.imgUrl)

  a.admin(href='/admin')
    i.desktop.icon
block script
  script(src='/javascripts/main.js')