extends layout

block main
  .reveal
    .slides
      section Slide 1
      section(data-background='assets/img/slide-1.jpg') Slide 2
      section Slide 3
      section Slide 4
  a.admin(href='/admin')
    i.desktop.icon
block script
  script(src='/javascripts/main.js')