extends layout

block main
  .reveal
    .slides
      - function sortNumber (a, b) {return a - b};
      each p in data
        - if (p.active)
          - var length = p.slides.length
          - for (var i = 0; i < length; i++)
              section(data-background=p.slides[i].imgUrl)

  a.admin(href='/admin')
    i.desktop.icon
block script
  script(src='/javascripts/main.js')