extends layout

block main
  .reveal
    each slide in data.slides
      .slides
        section(data-background=slide.imgUrl)
  a.admin(href='/admin')
    i.desktop.icon
block script
  script(src='/javascripts/main.js')